<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.isinonet.ismartnet.mapper.VideoDailyGenderMapper" >
  <resultMap id="BaseResultMap" type="com.isinonet.ismartnet.beans.VideoDailyGender" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="gender_count" property="genderCount" jdbcType="SMALLINT" />
    <result column="mod_date" property="modDate" jdbcType="TIMESTAMP" />
    <result column="atime" property="atime" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, gender, gender_count, mod_date, atime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_video_daily_gender
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_video_daily_gender
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.isinonet.ismartnet.beans.VideoDailyGender" >
    insert into tb_video_daily_gender ( gender, gender_count,
       atime)
    values ( #{gender,jdbcType=VARCHAR}, #{genderCount,jdbcType=SMALLINT},
       #{atime,jdbcType=DATE})
  </insert>
  <insert id="insertBatch" parameterType="com.isinonet.ismartnet.beans.VideoDailyGender" >
    insert into tb_video_daily_gender (gender, gender_count,
       atime)
    values
    <foreach collection="list" item="item" index="index" separator=",">
    (#{item.gender,jdbcType=VARCHAR}, #{item.genderCount,jdbcType=SMALLINT},
       #{item.atime,jdbcType=DATE})
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.isinonet.ismartnet.beans.VideoDailyGender" >
    insert into tb_video_daily_gender
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="genderCount != null" >
        gender_count,
      </if>
      <if test="modDate != null" >
        mod_date,
      </if>
      <if test="atime != null" >
        atime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="genderCount != null" >
        #{genderCount,jdbcType=SMALLINT},
      </if>
      <if test="modDate != null" >
        #{modDate,jdbcType=TIMESTAMP},
      </if>
      <if test="atime != null" >
        #{atime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.isinonet.ismartnet.beans.VideoDailyGender" >
    update tb_video_daily_gender
    <set >
      <if test="gender != null" >
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="genderCount != null" >
        gender_count = #{genderCount,jdbcType=SMALLINT},
      </if>
      <if test="modDate != null" >
        mod_date = #{modDate,jdbcType=TIMESTAMP},
      </if>
      <if test="atime != null" >
        atime = #{atime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.isinonet.ismartnet.beans.VideoDailyGender" >
    update tb_video_daily_gender
    set gender = #{gender,jdbcType=VARCHAR},
      gender_count = #{genderCount,jdbcType=SMALLINT},
      mod_date = #{modDate,jdbcType=TIMESTAMP},
      atime = #{atime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>